[project]
	description = Virtualbox + CoreOs + Graphite
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mark Maglana (relaxdiego)
[access "refs/for/refs/*"]
	read = group user/Mark Maglana (relaxdiego)
	push = group user/Mark Maglana (relaxdiego)
	label-Code-Review = -2..+2 group user/Mark Maglana (relaxdiego)
	label-Verified = -1..+1 group user/Mark Maglana (relaxdiego)
	rebase = group user/Mark Maglana (relaxdiego)
	removeReviewer = group user/Mark Maglana (relaxdiego)
	submit = group user/Mark Maglana (relaxdiego)
[access "refs/heads/*"]
	read = group user/Mark Maglana (relaxdiego)
	create = group user/Mark Maglana (relaxdiego)
	push = +force group user/Mark Maglana (relaxdiego)
	pushMerge = group user/Mark Maglana (relaxdiego)
[access "refs/tags/*"]
	push = +force group user/Mark Maglana (relaxdiego)
	pushTag = group user/Mark Maglana (relaxdiego)
	pushSignedTag = group user/Mark Maglana (relaxdiego)
