[Unit]
Description=Graphite Dummy Data Service
After=graphite.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run relaxdiego/graphite_dummy_data /usr/local/bin/ruby /opt/dummy_data/start

[Install]
WantedBy=local.target
