[Unit]
Description=Graphite Dummy Data Service
After=graphite.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -p 2009:2009 relaxdiego/graphite_dummy_data /opt/dummy_data/start

[Install]
WantedBy=local.target
