[Unit]
Description=Graphite Service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -p 8080:8080 -p 2003:2003 -p 2004:2004 -p 7002:7002 relaxdiego/graphite /opt/graphite/start

[Install]
WantedBy=local.target
